# Using the rocker/tidyverse image because it has devtools and testthat.

# Use "document = FALSE" to catch potential mismatches between the roxygen
# comments and the .Rd files. This could happen when checking locally
# with "document = TRUE" (the default), which updates the .Rd files, but then
# forgetting to commit and push those updated .Rd files.

.check_template: &check_job_template
  only:
    - master
    - merge_requests
    - tags
  script:
    - R -e 'sessionInfo()'
    - R -e 'devtools::install_deps(quiet = TRUE)'
    - R -e 'devtools::check(error_on = "note", document = FALSE)'

# Earliest supported version
check-3.5.1:
  image: rocker/tidyverse:3.5.1
  <<: *check_job_template

# Last version before 4.0.0
check-3.6.3:
  image: rocker/tidyverse:3.6.3
  <<: *check_job_template

# Latest R release
check-latest:
  image: rocker/tidyverse:latest
  <<: *check_job_template

# R development version
check-devel:
  image: rocker/tidyverse:devel
  <<: *check_job_template
